.nav-links__component {
  list-style: none;
  display: inline-flex;
  gap: calc(var(--spacing) * 8);
  li {
    a {
      color: var(--foreground);
      text-decoration: none;
      &:hover {
        color: var(--accent);
      }
    }
    a.active {
      font-weight: 600;
    }
  }
}
