.about-info {
  background-color: #fff;
}

.about-sertificate {
  background-color: #fff;
  box-sizing: border-box;

  &__container {
    display: flex;
    box-sizing: border-box;

    flex-direction: column;
    border-radius: 0.625rem;
    box-shadow: 6px 6px 20px rgba(128, 128, 128, 0.307);
  }

  &__title {
    margin-bottom: calc(var(--spacing) * 12);
    h2 {
      color: var(--primary);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(var(--spacing) * 12);

    &__item {
      //   gap: calc(var(--spacing) * 4);
      text-align: center;
      border-radius: 0.625rem;
      background-color: rgb(241, 241, 241);
      padding: calc(var(--spacing) * 6);
      p {
        &:first-child {
          color: var(--primary);
          margin-bottom: calc(var(--spacing) * 4);
        }
        &:last-child {
          color: var(--muted-foreground);
          font-size: var(--text-xs);
          max-width: 60%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about-info {
  }

  .about-sertificate {
    padding: calc(var(--spacing) * 4);

    &__container {
    }

    &__title {
      margin-bottom: calc(var(--spacing) * 8);
      h2 {
      }
    }

    &__list {
      grid-template-columns: 1fr;
      gap: calc(var(--spacing) * 4);

      &__item {
        p {
          &:first-child {
          }
          &:last-child {
          }
        }
      }
    }
  }
}
