.btn {
  background-color: var(--accent);
  border-radius: 0.25rem;
  // font-size: var(--font-size);
  font-family: var(--default-font-famali);
  font-size: var(--font-size);
  border: none;
  cursor: pointer;
  padding: calc(var(--spacing) * 3) calc(var(--spacing) * 8);
  line-height: 1.5;
  min-height: 50px;
  color: #fff;

  transition: ease-in 0.1s;
  &:hover {
    // background-color: #ffffff96;
  }
}
.btn_primary {
  // color: #fff;
  &:hover {
    background-color: color-mix(in oklab, var(--primary) 30%, transparent);
  }
}

.btn_white {
  color: var(--primary);
  background-color: #fff;
  &:hover {
    background-color: rgba(246, 246, 246, 0.8);
    // background-color: color-mix(in oklab, var(--whtie) 10%, transparent);
  }
}

.btn_callback {
  flex-grow: 1;
  &:hover {
    background-color: color-mix(in oklab, var(--primary) 30%, transparent);
  }
}

.btn_bordered {
  border: 1px solid rgb(255, 255, 255);
}
