.hamburger {
  display: none;
  .hamburger__nav {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-30px);
    position: absolute;
    left: 0;
    top: 85px;
    width: 100%;
    height: calc(100svh - 85px);
    height: calc(var(--vh, 1vh) * 100 - 85px);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease,
      transform 0.3s ease;

    // 2. Включает плавный скролл внутри меню на iOS
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;

    // 3. Фикс аппаратного ускорения анимации в Safari
    will-change: transform, opacity;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &._active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0); // Возвращаем в исходную позицию
    }
    &__links {
      ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        li {
          display: flex;
          text-align: start;
          a {
            padding: calc(var(--spacing) * 4);
            font-size: var(--text-xl);
            flex-grow: 1;
            color: var(--primary);
            user-select: none;

            -webkit-tap-highlight-color: transparent; // Убирает серый квадрат при тапе
            &:active {
              background-color: #ffffff61;
            }
          }
        }
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: calc(var(--spacing) * 2);
    }

    &__phone {
      flex-grow: 1;
      margin-left: 20px;

      a {
        display: block;
        color: gray;
        text-decoration: none;
        position: relative;
        width: fit-content;

        &.phone::before {
          color: #fff;
          content: "\1F4DE";
          padding-right: 4px;
        }
        &.mail::before {
          color: #fff;
          content: "\2709";
          padding-right: 4px;
        }
      }
    }

    &__footer {
      background-color: var(--primary);
      height: 30px;
      display: flex;
      align-items: center;
      span {
        font-size: var(--text-sm);
        color: #c5c2c2;
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 1340px) {
  .hamburger {
    display: block;
  }
}
