.object-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  // max-width: 400px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: ease-in-out 0.3s;
  box-sizing: border-box;
  height: 100%;
  border: 1px solid var(--border-2);

  &:hover {
    box-shadow: var(--box-shadow-hover);

    .object-card__img {
      transform: scale(1.09);
      transition: transform 0.5s ease-in-out;
    }
  }
  &__img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    background-color: rgb(178, 178, 178);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    transition: transform 0.5s ease-in-out;
  }

  .pseudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4);

    // width: 130px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.986);

    font-size: calc(var(--text-xs) * 1.6);
    font-weight: 900;
    color: #fff;

    position: absolute;
    top: 145px;
    left: 10px;
    z-index: 10;

    &-icon {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.54);
      border-radius: 0.425rem;
      background-color: var(--accent);
      border: 1px solid rgba(228, 221, 221, 0.19);
      padding: 6px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.51);
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h3 {
      font-size: var(--text-2xl);
      font-weight: 500;
      display: none;
    }

    p {
      flex-grow: 1;
      line-height: 1.6rem;
    }

    &__info {
      display: flex;
      flex-direction: row;
      gap: calc(var(--spacing) * 2);
      justify-content: space-between;
      border-top: 1px solid rgba(130, 129, 129, 0.497);

      .info-value {
        padding-top: calc(var(--spacing) * 6);

        padding-bottom: calc(var(--spacing) * 2);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .info-value__title {
          font-size: var(--text-xs);
          color: var(--muted-foreground);

          order: 2;
        }
        .info-value__value {
          font-size: var(--text-xl);
          margin-bottom: calc(var(--spacing));
          text-align: center;
          font-weight: 700;
          color: var(--accent);
        }
      }
    }
  }
}
