.contacts__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(var(--spacing) * 10);
  padding-bottom: 0;
  &__item {
    display: flex;
    gap: calc(var(--spacing) * 4);
    margin-bottom: calc(var(--spacing) * 8);
    align-items: flex-start;

    &-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      min-width: 40px;
      padding: 8px;
      margin-right: calc(var(--spacing) * 4);
      background-color: color-mix(in oklab, var(--accent) 10%, transparent);
      border-radius: var(--border-radius);
      .contacts__icon {
        height: 30px;
        width: 100%;
      }
    }

    .item__info {
      display: flex;
      flex-direction: column;
      span {
        padding-bottom: calc(var(--spacing) * 1);
      }
      .phone {
        color: var(--accent);
        transition: all ease-in-out 0.2s;

        &:hover {
          color: var(--gold);
        }
      }

      h4 {
        margin: 0;
        color: var(--rimary);
        margin-bottom: calc(var(--spacing));
      }
      .text_accent {
        padding-top: calc(var(--spacing) * 2);
      }
    }
  }

  &__emergency {
    display: flex;
    flex-direction: column;
    color: var(--text-white);
    background-color: var(--primary);
    background-image: linear-gradient(190deg, var(--primary), var(--accent));
    padding: calc(var(--spacing) * 8);
    border-radius: var(--border-radius);
    max-width: 500px;
    .phone {
      font-size: var(--text-2xl);
      a {
        transition: all ease-in-out 0.2s;

        &:hover {
          color: var(--gold);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contacts__block {
    padding: calc(var(--spacing) * 4);
    padding-bottom: 0;
    &__item {
      display: flex;
      gap: calc(var(--spacing) * 4);
      margin-bottom: calc(var(--spacing) * 8);
      align-items: flex-start;

      &-icon-container {
        height: 30px;
        width: 30px;
        min-width: 30px;
        padding: 4px;
        margin-right: calc(var(--spacing) * 1);

        .contacts__icon {
          height: 20px;
          width: 100%;
        }
      }

      .item__info {
        display: flex;
        flex-direction: column;
        h4 {
          margin: 0;
          color: var(--rimary);
          margin-bottom: calc(var(--spacing));
        }
        .text_accent {
          padding-top: calc(var(--spacing) * 2);
        }
      }
    }

    &__emergency {
      display: flex;
      flex-direction: column;
      color: var(--text-white);
      background-color: var(--primary);
      background-image: linear-gradient(190deg, var(--primary), var(--accent));
      padding: calc(var(--spacing) * 8);
      border-radius: var(--border-radius);
      max-width: 500px;
      .phone {
        font-size: var(--text-2xl);
      }
    }
  }
}
