.title-component {
  background-color: var(--primary);
  color: #fff;

  &__container {
    h1 {
      color: #fff;
      font-size: var(--text-2-5xl);
      font-weight: 500;
    }
  }
}

@media (max-width: 768px) {
  .title-component {
    &__container {
      h1 {
        color: #fff;
        font-size: var(--text-3xl);
      }
    }
  }
}
