.home-hero {
  background-color: var(--primary);
  background-image: linear-gradient(190deg, var(--primary), var(--accent));

  padding-top: 120px;
  position: relative;
  overflow: hidden;
  color: var(--text-white);

  &::before {
    content: "";
    position: absolute;
    padding-top: calc(var(--spacing) * 20);
    top: 0%;
    left: 30%;
    width: 80%;
    height: 100%;
    background-image: url(../../assets/images/logo-transp-10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    z-index: 1;
    transform: rotate(25deg);
  }

  &__container {
    display: grid;
    align-items: center;
    gap: calc(var(--spacing) * 12);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    // padding: calc(var(--spacing) * 10);

    .home-hero__main {
      display: flex;
      flex-direction: column;
      gap: calc(var(--spacing) * 2);
      .license {
        background-color: oklab(1 0 0 / 0.1);
        padding: 10px 20px;
        border-radius: 20px;
        width: fit-content;
        font-size: var(--text-xs);
        text-align: center;
      }

      p {
        font-size: var(--text-xl);
      }
      .home-hero__main__btns {
        z-index: 2;
        display: inline-flex;
        gap: 20px;
        .callback-btn {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.home-achievements {
  background-color: #fff;
  position: relative;
  z-index: 1;
  border: 1px solid var(--border);
  // padding-block: calc(var(--spacing) * 4);

  .home-achievements__container {
    // padding-block: calc(var(--spacing) * 10);
    display: grid;
    gap: calc(var(--spacing) * 8);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      .home-achievements__icons {
        margin-bottom: calc(var(--spacing) * 4);
        height: 50px;
        width: 50px;
      }
      .value {
        color: var(--primary);
        font-size: var(--text-2xl);
        margin-bottom: 5px;
      }
      .text {
        font-size: var(--text-sm);
        color: var(--muted-foreground);
      }
    }
  }
}
.home-services {
  background-color: #fff;

  .home-services__title {
  }
  .home-services__container {
    display: block;
  }
  .home-services__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: calc(var(--spacing) * 6);
  }
}

.home-objects {
  background-color: var(--bg-gray);
  .home-objects__title {
  }
}

.home-advantages {
  color: var(--text-white);
  background-color: var(--primary);
  background-image: linear-gradient(-245deg, var(--primary), var(--accent));
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    width: 600px;
    height: 600px;
    background-color: #ffffff1c;
    border-radius: 50%;
    top: -300px;
    right: -300px;
    z-index: 1;
  }

  &::after {
    position: absolute;
    content: "";
    width: 600px;
    height: 600px;
    background-color: #ffffff1c;
    border-radius: 50%;
    bottom: -390px;
    left: -300px;
    z-index: 1;
  }

  .home-advantages__title {
    h2 {
      color: var(--text-white);
    }
    // margin-bottom: calc(var(--spacing) * 20);
  }
  .home-advantages__plates {
    z-index: 2;
    user-select: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: calc(var(--spacing) * 6);
    &__item {
      background-color: #dbdbdb2c;
      border: 1px solid #ffffff2e;
      border-radius: 0.625rem;
      padding: calc(var(--spacing) * 6);
      transition: ease-in-out 0.3s;

      .home-advantages__icons {
        margin-bottom: calc(var(--spacing) * 6);

        width: 50px;
        height: 50px;
      }

      h3 {
        font-size: var(--text-xl);
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: calc(var(--spacing) * 3);
      }
      p {
        font-size: var(--text-sm);
        color: #ffffffc5;
        line-height: 1.675rem;
      }
      &:hover {
        background-color: #dbdbdb44;
      }
    }
  }
}

.home-about {
  background-color: #fff;
}

.home-reviews {
  background-color: #fff;
  padding-block: calc(var(--spacing) * 20);
  .home-reviews__title {
    margin-bottom: calc(var(--spacing) * 20);
  }
}

.home-contacts {
  background-color: var(--bg-gray);
  .home-contacts__container {
    .home-contacts__title {
    }

    .home-contacts__content {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: calc(var(--spacing) * 10);
    }
  }
}

@media (max-width: 768px) {
  .home-hero {
    padding-top: 130px;

    &::before {
      background-size: 95%;
      // z-index: 1;
    }

    &__container {
      display: block;

      padding: calc(var(--spacing) * 4);

      .home-hero__main {
        display: flex;
        gap: calc(var(--spacing) * 2);

        .license {
          font-size: var(--text-xs);
        }

        p {
          font-size: var(--text-sm);
          max-width: 70%;
          line-height: 1.225rem;
        }
        .home-hero__main__btns {
          margin-top: 40px;
          display: flex;
          flex-direction: column;
          gap: calc(var(--spacing) * 2);
          .callback-btn {
            width: 100%;
            display: flex;
            button {
            }
          }
        }
      }
    }
  }

  .home-achievements {
    padding-block: calc(var(--spacing) * 4);

    .home-achievements__container {
      padding-block: calc(var(--spacing) * 4);
      gap: calc(var(--spacing) * 4);
      grid-template-columns: repeat(2, minmax(0, 1fr));
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        .home-achievements__icons {
          margin-bottom: calc(var(--spacing) * 3);
          height: 30px;
          width: 30px;
        }
        .value {
          color: var(--primary);
          font-size: var(--text-2xl);
          margin-bottom: 5px;
        }
        .text {
          font-size: var(--text-sm);
          color: var(--muted-foreground);
        }
      }
    }
  }

  .home-services {
    padding-inline: calc(var(--spacing) * 4);
    padding-top: calc(var(--spacing) * 10);
    padding-block: calc(var(--spacing) * 10);

    .home-services__title {
      margin-bottom: calc(var(--spacing) * 10);
    }

    .home-services__items {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: calc(var(--spacing) * 3);

      &__item {
        .item__icons {
          height: 30px;
          width: 30px;
          padding: calc(var(--spacing) * 3);
        }

        p {
          line-height: 1.2rem;
        }
        &:active {
          border-color: var(--accent);
          box-shadow: 5px 5px 30px rgba(128, 128, 128, 0.207);

          .home-services__icons {
            background-color: color-mix(
              in oklab,
              var(--accent) 20%,
              transparent
            );
          }
        }
      }
    }
  }

  .home-objects {
    .home-objects__title {
      margin-bottom: calc(var(--spacing) * 10);
    }

    .home-objects__slider {
    }
  }

  .home-advantages {
    padding-block: calc(var(--spacing) * 10);
    &::before {
      width: 300px;
      height: 300px;
      top: -150px;
      right: -150px;
    }

    &::after {
      width: 300px;
      height: 300px;
      bottom: -150px;
      left: -150px;
    }

    .home-advantages__title {
      h2 {
      }
      margin-bottom: calc(var(--spacing) * 10);
    }
    .home-advantages__plates {
      padding: calc(var(--spacing) * 4);

      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: calc(var(--spacing) * 3);
      &__item {
        // padding: calc(var(--spacing) * 4);

        .home-advantages__icons {
        }

        h3 {
        }
        p {
          line-height: 1.2rem;
        }
        &:active {
          background-color: #dbdbdb2c;
        }
      }
    }
  }

  .home-about {
  }

  .home-reviews {
    padding-block: calc(var(--spacing) * 10);
    .home-reviews__title {
      margin-bottom: calc(var(--spacing) * 10);
    }
    .home-reviews__slider {
      padding-inline: calc(var(--spacing) * 4);
    }
  }

  .home-contacts {
    padding-block: calc(var(--spacing) * 4);

    .home-contacts__container {
      .home-contacts__title {
        margin-bottom: calc(var(--spacing) * 2);
        padding: calc(var(--spacing) * 2);
      }

      .home-contacts__content {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: calc(var(--spacing) * 5);
      }
    }
  }
}
