.proposal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--accent);
  background-image: linear-gradient(190deg, var(--primary), var(--accent));
}
.proposal__buttons {
  display: flex;
  gap: calc(var(--spacing) * 4);
}

@media (max-width: 768px) {
  .proposal__container {
  }

  .proposal__buttons {
    flex-direction: column;
    width: 100%;
    gap: calc(var(--spacing) * 2);
  }
}
