.privavy-policy {
  background-color: #fff;

  h5 {
    margin-bottom: 1rem;
  }
  .descr {
    margin-bottom: 1rem;
    margin-left: 2rem;
  }
  .ol {
    .li {
      margin-bottom: 0.625rem;
      margin-left: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .privavy-policy {
  }
}
