.objects {
  background-color: var(--bg-gray);

  &__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: calc(var(--spacing) * 6);
  }
}

.objects-proposal {
  background-color: var(--bg-gray);
}

@media (max-width: 768px) {
  .objects {
    &__container {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: calc(var(--spacing) * 3);
    }
  }
}
