footer {
  background-color: var(--primary);
  padding-block: calc(var(--spacing) * 12);

  .top {
    .top-container {
      display: grid;
      gap: calc(var(--spacing) * 8);
      grid-template-columns: repeat(4, minmax(0, 1fr));
      .logo {
        img {
          display: block;
          max-width: 80%;
          height: auto;
        }
        p {
          color: oklab(1 0 0 / 0.8);
        }
      }
      nav {
        h4 {
          margin-top: 0;
          color: var(--text-white);
        }
        ul {
          list-style: none;
          padding: 0%;
          li {
            margin-bottom: 5px;
            font-size: var(--text-sm);

            a {
              text-decoration: none;
              color: oklab(1 0 0 / 0.8);
            }
          }
        }
      }

      .contacts {
        h4 {
          margin-top: 0;
          color: var(--text-white);
        }
        ul {
          color: oklab(1 0 0 / 0.8);
          li {
            margin-bottom: 5px;
            font-size: var(--text-sm);
          }
        }
      }
    }
  }

  .copyright {
    .copyright-container {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        padding-top: calc(var(--spacing) * 8);
        font-size: var(--text-sm);
        color: oklab(1 0 0 / 0.8);
      }
    }
  }
}
