// @font-face {
//   font-family: "Inter", sans-serif;
//   src: url("./assets/fonts/inter/Inter_18pt-Bold.ttf") format("ttf");
//   font-weight: 700;
// }
@mixin gradient-bg($start, $end, $deg: 190deg) {
  background-color: $start;

  background-image: linear-gradient($deg, $start, $end);
}

@mixin pseudo-circle(
  $size: 600px,
  $top: 0,
  $right: 0,
  $bottom: auto,
  $left: auto
) {
  position: absolute;
  content: "";
  width: $size;
  height: $size;
  background-color: rgba(255, 255, 255, 0.11);
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.11);
  border-radius: 50%;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: 1;
}

@keyframes float-circle-1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15px, -20px);
  }
}

@keyframes float-circle-2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20px, 15px);
  }
}

:root {
  --text-white: #ffffff;
  --white: #fff;
  --white-6: rgba(255, 255, 255, 0.6);

  --white-8: rgba(255, 255, 255, 0.8);
  --primary: #1e3a8a;
  --accent: #2563eb;
  // --gold: rgb(217 119 6);
  --gold-l: #ffbb00;
  --gold: #f59e0b;

  --gold-8: rgba(251, 190, 36, 0.8);

  --foreground: oklch(14.5% 0 0);
  --muted-foreground: #717182;
  --muted-foreground-g: #0000cdef;

  --border: #0000001a;
  --muted: #ececf0;
  --muted-6: #ececf0ad;
  --bg: #fff;
  --bg-gray: #ececf0;
  --bg-gray-6: #ececf096;
  --input-background: #f3f3f5;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 4px 6px rgba(0, 0, 0, 0.4);

  --border-radius: 0.625rem;

  --spacing: 0.25rem;

  --font-size: 16px;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-l: 1rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-2-3xl: 2rem;

  --text-2-5xl: 2.2rem;
  --text-2-6xl: 2.6rem;
  --text-2-10xl: 3rem;

  --text-3xl: 3rem;

  --container-sm: 24rem;
  --container-lg: 32rem;
  --container-xl: 80rem;

  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --default-font-family: var(--font-sans);

  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--foreground);
  background: var(--bg);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: -webkit-fill-available;
}

// marging and padding
$scales: 0, 1, 2, 3, 4, 6, 8, 10, 12, 14, 20, 22, 24, 30, 34;

@each $scale in $scales {
  // Генерация маргинов (например, .mb-4)
  .mb-#{$scale} {
    margin-bottom: calc(var(--spacing) * #{$scale});
  }
  .mt-#{$scale} {
    margin-top: calc(var(--spacing) * #{$scale});
  }

  // Генерация паддингов (например, .p-4)
  .p-#{$scale} {
    padding: calc(var(--spacing) * #{$scale});
  }
  .px-#{$scale} {
    padding-inline: calc(var(--spacing) * #{$scale});
  }
  .py-#{$scale} {
    padding-block: calc(var(--spacing) * #{$scale});
  }

  .pt-#{$scale} {
    padding-top: calc(var(--spacing) * #{$scale});
  }

  .pb-#{$scale} {
    padding-bottom: calc(var(--spacing) * #{$scale});
  }
}

@media (max-width: 768px) {
  @each $scale in $scales {
    // Генерация маргинов (например, .m_mb-4)
    .m_mb-#{$scale} {
      margin-bottom: calc(var(--spacing) * #{$scale});
    }
    .m_mt-#{$scale} {
      margin-top: calc(var(--spacing) * #{$scale});
    }

    // Генерация паддингов (например, .m_p-4)
    .m_p-#{$scale} {
      padding: calc(var(--spacing) * #{$scale});
    }
    .m_px-#{$scale} {
      padding-inline: calc(var(--spacing) * #{$scale});
    }
    .m_py-#{$scale} {
      padding-block: calc(var(--spacing) * #{$scale});
    }

    .m_pt-#{$scale} {
      padding-top: calc(var(--spacing) * #{$scale});
    }

    .m_pb-#{$scale} {
      padding-bottom: calc(var(--spacing) * #{$scale});
    }
  }
}
//

.container {
  margin: auto;
  max-width: var(--container-xl);

  @media (max-width: 1024px) {
    max-width: var(--container-xs);
  }
}

/* ??????????  */
#root {
  /* width: 1126px; */
  font-size: var(--font-size);
  font-family: var(--default-font-family);

  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}
.main {
  flex-grow: 1;
}
.flex-center {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 3.75rem;
  color: var(--text-white);
  line-height: 1;

  font-weight: 700;
  font-family: "inter";

  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 2.25rem;
  color: var(--primary);
  line-height: 1;
  font-weight: 500;

  @media (max-width: 1024px) {
    font-size: var(--text-2xl);
  }
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.border-w {
  border: 1px solid gray;
}

.text_center {
  text-align: center;
}

// TEXT COLORS
.text {
  &_black {
    color: #000;
  }
  &_white {
    color: #fff;
  }
  &_white-6 {
    color: oklab(1 0 0 / 0.6);
  }
  &_white-7 {
    color: oklab(1 0 0 / 0.7);
  }
  &_white-8 {
    color: oklab(1 0 0 / 0.8);
  }
  &_accent {
    color: var(--accent);
  }
  &_primary {
    color: var(--primary);
  }
  &_gold {
    color: var(--gold);
  }
  &_gold-8 {
    color: var(--gold-8);
  }
  &_muted-g {
    color: var(--muted-foreground-g);
  }
  &_muted {
    color: var(--muted-foreground);
  }
}

// BG COLORS
.bg {
  &_white {
    background-color: #fff;
  }

  &_gray {
    background-color: var(--bg-gray);
  }
  &_gray-6 {
    background-color: var(--bg-gray-6);
  }

  &_primary {
    background-color: var(--primary);
  }

  &_accent {
    background-color: var(--accent);
  }

  &_gradient-circle {
    @include gradient-bg(var(--primary), var(--accent), -245deg);
    color: var(--text-white);
    position: relative;
    overflow: hidden;

    &::before {
      @include pseudo-circle(600px, -300px, -300px);
      animation: float-circle-1 8s ease-in-out infinite;
    }

    &::after {
      @include pseudo-circle(600px, auto, auto, -390px, -300px);
      animation: float-circle-2 10s ease-in-out infinite;
    }
  }
}

.icon {
  &_accent {
    path {
      stroke: var(--accent);
    }
  }

  &_white {
    path {
      stroke: #fff;
    }
  }
  &_gold {
    path {
      stroke: var(--gold);
    }
  }
  &_gold-8 {
    path {
      stroke: var(--gold-8);
    }
  }
}

.check {
  color: red !important;
}
.display_none {
  display: none;
}

.p_reset {
  padding: 0;
}

@media (max-width: 768px) {
  .m_w100 {
    width: 100%;
  }
}
