:root {
  --text: #ffffff;
  --primary: #1e3a8a;
  --accent: #2563eb;
  --foreground: oklch(14.5% 0 0);
  --muted-foreground: #717182;
  --border: #0000001a;

  --bg: #fff;
  --spacing: .25rem;

  --font-size: 16px;

  --spacing: .25rem;
  --container-sm: 24rem;
  --container-lg: 32rem;
  /* --container-2xl: 42rem;
  --container-3xl: 48rem; */
  --container-xl: 80rem;



  font: var(--font-size);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.container {
  margin: auto;
  max-width: var(--container-xl);

  @media (max-width: 1024px) {
    max-width: var(--container-xs);

  }
}



/* ??????????  */
#root {
  /* width: 1126px; */
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 3.65rem;

  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 2.25rem;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}