.about-component {
  background-color: #fff;
  // padding-block: calc(var(--spacing) * 20);

  .about-component__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: calc(var(--spacing) * 12);

    .about-component__guardian {
      img {
        display: block;
        border-radius: 0.625rem;
        box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.607);
        width: 100%;
      }
    }
    .about-component__article {
      p {
        margin-bottom: calc(var(--spacing) * 4);
      }
      .about-component__article-adv {
        display: flex;
        flex-direction: column;
        .about-component__article-adv__item {
          display: flex;
          .about-component__icons {
            height: 50px;
            margin-top: calc(var(--spacing));
            width: 50px;
          }
          &__text {
            max-width: 300px;
            display: flex;
            flex-direction: column;
            margin-left: calc(var(--spacing) * 4);
            margin-bottom: calc(var(--spacing) * 4);

            h4 {
              color: var(--primary);
            }
            p {
              color: var(--muted-foreground);
              margin: 0;
              font-size: var(--text-sm);
            }
          }
        }
      }
    }
  }
  .home-achievements-plates {
    display: grid;
    gap: calc(var(--spacing) * 8);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    text-align: center;
    margin-top: calc(var(--spacing) * 20);
    div {
      border-radius: 0.625rem;
      padding: calc(var(--spacing) * 6);
      color: var(--text-white);
      background-color: var(--primary);
      background-image: linear-gradient(-45deg, var(--primary), var(--accent));
      .home-achievements__icons {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .about-component {
    // padding: calc(var(--spacing) * 4);

    .about-component__top {
      grid-template-columns: repeat(1, 1fr);
      gap: calc(var(--spacing) * 12);

      .about-component__guardian {
        img {
          box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.807);
        }
      }
      .about-component__article {
        p {
          line-height: 1.4rem;
        }
        .some__text {
          max-width: 70%;
          line-height: 1.2rem;
        }
        .about-component__article-adv {
          .about-component__article-adv__item {
            margin-top: calc(var(--spacing) * 4);
            img {
              margin-top: calc(var(--spacing) * 20);
            }
            &__text {
              display: flex;
              flex-direction: column;
              margin-left: calc(var(--spacing) * 2);
              margin-bottom: calc(var(--spacing) * 2);

              h4 {
              }
              p {
              }
            }
          }
        }
      }
    }
    .home-achievements-plates {
      display: grid;
      gap: calc(var(--spacing) * 2);
      grid-template-columns: repeat(2, minmax(0, 1fr));
      text-align: center;
      margin-top: calc(var(--spacing) * 20);
      div {
        border-radius: 0.625rem;
        padding: calc(var(--spacing) * 6);
        color: var(--text-white);
        background-color: var(--primary);
        background-image: linear-gradient(
          -45deg,
          var(--primary),
          var(--accent)
        );
        .home-achievements__icons {
          // width: 50px;
          // height: 50px;
        }
      }
    }
  }
}
