.marquee-text {
  // background-color: var(--bg-gray-6);
  width: 100%;
  padding-block: 40px;

  .marquee-item {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 4);
    border: 1px solid rgba(71, 68, 141, 0.149);
    border-radius: var(--border-radius);
    padding-inline: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: calc(var(--spacing) * 20);
    user-select: none;

    &__icon {
      transition: all ease-in-out 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 20px;
      padding: 8px;
      background-color: color-mix(in oklab, var(--accent) 20%, transparent);
      border-radius: 0.625rem;
      .marquee__icon {
        height: 20px;
        width: 20px;
      }
    }
    &__text {
      font-size: var(--text-l);
      color: rgba(0, 0, 0, 1);
      font-weight: 700;
    }
  }
}

@media (max-width: 768px) {
  .marquee-logo {
    img {
      padding-inline: 20px;
      height: 40px;
    }
  }
}
